div {
	display: inline-block;
	margin-right: 50px;
	margin-bottom: 50px;
}

#square {
	height: 100px;
	width: 100px;
	background: #f8c82d;
}

#rectangle {
	height: 100px;
	width: 200px;
	background: #fbcf61;
}

#circle {
	height: 100px;
	width: 100px;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	background: #ff6f6f;
}

#oval {
	height: 100px;
	width: 200px;
	border-radius: 100px / 50px;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	background: #d1404a;
}

#triangle-up {
	height: 0;
	width: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: solid 100px #3498db ;
}

#triangle-down {
	height: 0;
	width: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid  #2980b9 ;
}

#triangle-left {
	height: 0;
	width: 0;
	border-top: 50px solid transparent;
	border-right: 100px solid  #0dccc0 ;
	border-bottom: 50px solid transparent;
}

#triangle-right {
	height: 0;
	width: 0;
	border-top: 50px solid transparent;
	border-left: 100px solid  #0ead9a ;
	border-bottom: 50px solid transparent;
}

#triangle-topleft {
	height: 0;
	width: 0;
	border-top: 100px solid #74525f;
	border-right: 100px solid transparent; 
}

#triangle-topright {
	height: 0;
	width: 0;
	border-top: 100px solid #832d51;
	border-left: 100px solid transparent; 
}

#triangle-bottomleft {
	height: 0;
	width: 0;
	border-bottom: 100px solid #b23f73;
	border-right: 100px solid transparent; 
}

#triangle-bottomright {
	height: 0;
	width: 0;
	border-bottom: 100px solid #d49e99;
	border-left: 100px solid transparent; 
}

#trapezoid-right {
	height: 0;
	width: 100px;
	border-bottom: 100px solid #fe7c60;
	border-right: 50px solid transparent;
}
#trapezoid-isosceles {
	height: 0;
	width: 100px;
	border-bottom: 100px solid #e84b3a;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
}
#parallelogram {
	height: 100px;
	width: 150px;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	background: #c0392b;
}


#pentagon {
    position: relative;
    width: 67px;
    border-width: 63px 16.5px 0;
    border-style: solid;
    border-color: #404148 transparent;
}
#pentagon::before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: -100px;
    left: -16.5px;
    border-width: 0 50px 37px;
    border-style: solid;
    border-color: transparent transparent #404148;
}

